<section class="my-16 max-w-2xl mx-auto">
  <div>
    <img src="https://github.com/daniloderosa/ddr-site/raw/main/exampleSite/static/gandr-collage.jpg" alt="collage" style="height: 100%; width: 100%; object-fit: contain" onclick="window.open('https://raw.githubusercontent.com/daniloderosa/ddr-site/main/images/gandr-collage_high_res-2.jpg', 'blank');"/>
  </div>
  
  <br />
  <br />
  <br />
  <br />
  
  <div class="text-4xl font-bold text-center">
    Do you want to work together?
    <br />
    <br />
    <a
      class="text-5xl text-blue-400 hover:text-blue-ª00"
      href="mailto:{{.Site.Params.authorEmail}}"
      >Let's chat 📨</a
    >
  </div>
</section>
